@import url(./__item/photo-grid__item.css);

.photo-grid {
  grid-template-columns: repeat(auto-fit,
   minmax(284px 1fr));
  grid-gap: 1rem;
  max-width: 1184px;
  margin: 92px auto;
  object-fit: contain;
}

@media screen and (min-width: 1278px) {
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    grid-gap: 14px;
  }
}

