.intro__list {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  padding: 0;
  margin: 33px 0;
  width: 690px;
  height: 72px;
  list-style: none;
  border: darkblue 2px solid;
}

@media screen and (max-width: 767px) {
  .intro__list {
    font-size: 12px;
    line-height: 18px;
  }
}
