@import url(./__caption/lead__caption.css);
@import url(./__image/lead__image.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__title/lead__title.css);

.lead {
  border: crimson 2px solid;
  margin: 58px auto 0;
  max-width: 962px;
  width: 90%;
}

@media screen and (max-width: 767px) {
  .lead {
    width: 320px;
    height: 406px;
  }
}