.cover__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 320px;
  color: #FFFDFD;
  text-decoration: none;
  margin: 32px auto 0 auto;
  padding-bottom: 20%;
  
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    width: 288px;
    margin-top: 16px;
    
  }
}
