@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/into__list.css);

.intro {
  align-self: flex-start;
  width: 90%;
  max-Width: 984px;
  margin: 92px auto;
}

@media screen and (max-width: 767px) {
  .intro{
    margin-top: 60px;
  }
}