@import url(./__background/cover__background.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__title/cover__title.css);


.cover {
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 200px;
  max-height: 740px;
  max-width: 1205px;
  margin: 63px auto 0 auto;
  background-image: url(../../images/cover-route-66.jpg);
  }

.cover:hover {
  opacity: 0.8;
}
